.header {
  background-color: white;
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.logo {*/
/*  color: #ff7a45;*/
/*  font-size: 1.25rem;*/
/*  font-weight: 300;*/
/*}*/
.header .logo {
  width: 100px; /* Adjust the width as needed */
  height: 100px;
  /*max-height: 50px; !* Adjust the max-height as needed *!*/
}
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #333;
}

.nav-link.active {
  color: #665649;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  color: #665649;
  width: 1.25rem;
  height: 1.25rem;
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #665649;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}
.header .logo {
  width: 100px; /* Adjust the width as needed */
  height: auto;
}

.nav-link.active {
  color:#665649;
  font-weight: bold;
}